Microsoft.Flow/flows/8d2d69b3-811b-40da-bd60-d359269faf9c/definition.json
{"name":"ff57aeb8-8355-4d6a-9611-c50e0721712e","id":"/providers/Microsoft.Flow/flows/ff57aeb8-8355-4d6a-9611-c50e0721712e","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"Shifts To Office365 Outlook Calendar Automatization","definition":{"metadata":{"workflowEntityId":null,"processAdvisorMetadata":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"266a95f3-6b5e-4e0d-b014-61a6a73b35aa","type":"User","tenantId":"7e149130-62d9-40de-ab60-5179999a785b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2022-04-19T12:27:11.5472917Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"W. Europe Standard Time","schedule":{"hours":["18"],"minutes":[0]}},"metadata":{"operationMetadataId":"1f337add-b0dd-420d-bc42-38c69ee1ce8d"},"type":"Recurrence"}},"actions":{"Initialize_CalendarID":{"runAfter":{"[USER_INPUT]_Initialize_TeamName":["Succeeded"]},"metadata":{"operationMetadataId":"75948f4f-2e5e-444c-9c03-210b6315c3ef"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CalendarID","type":"string"}]}},"[USER_INPUT]_Initialize_TeamName":{"runAfter":{"[USER_INPUT]_Initialize_CalendarName":["Succeeded"]},"metadata":{"operationMetadataId":"e26c4f05-2f07-4c6a-af5c-d9399a805185"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamName","type":"string"}]}},"[USER_INPUT]_Initialize_CalendarName":{"runAfter":{},"metadata":{"operationMetadataId":"9f4b4ae7-b602-420e-ac8b-092dc8f57a74"},"type":"InitializeVariable","inputs":{"variables":[{"name":"CalendarName","type":"string"}]}},"Initialize_TeamID":{"runAfter":{"Get_CalendarID":["Succeeded"]},"metadata":{"operationMetadataId":"b80641a6-2b0b-4770-8850-b4e63e56f5a0"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string"}]}},"Get_shifts,_check_for_duplicates_and_create_events":{"foreach":"@body('List_all_shifts')?['value']","actions":{"Get_shifts_assigned_to_user":{"actions":{"Create_event_when_no_duplicate":{"actions":{},"runAfter":{"Check_for_duplicates":["Succeeded"]},"else":{"actions":{"Create_event":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V4CalendarPostItem"},"operationMetadataId":"c116049f-1103-455b-92b1-52b23a0ea805"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"subject":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['displayName']","start":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime']","end":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['endDateTime']","timeZone":"(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"},"path":"/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent(variables('CalendarID')))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('isDuplicate')",true]},"metadata":{"operationMetadataId":"6db86ee2-30a3-427b-8c14-fde9f8bf30d4"},"type":"If"},"Reset_isDuplicate":{"runAfter":{"Create_event_when_no_duplicate":["Succeeded"]},"metadata":{"operationMetadataId":"e21125fa-8dbc-460e-8666-3b5da42732f2"},"type":"SetVariable","inputs":{"name":"isDuplicate","value":false}},"Check_for_duplicates":{"foreach":"@body('Get_events_for_shifts')?['value']","actions":{"isDuplicate_conditions":{"actions":{"Set_isDuplicate":{"runAfter":{},"metadata":{"operationMetadataId":"82d7698c-8432-447b-8a6b-2323bce29004"},"type":"SetVariable","inputs":{"name":"isDuplicate","value":true}}},"runAfter":{},"expression":{"and":[{"equals":["@formatDateTime(items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime'], 's')","@formatdatetime(items('Check_for_duplicates')?['start'], 's')"]},{"equals":["@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['displayName']","@items('Check_for_duplicates')?['subject']"]}]},"metadata":{"operationMetadataId":"1880f62a-3621-40c3-a42e-3071f2a5876f"},"type":"If"}},"runAfter":{"Get_events_for_shifts":["Succeeded"]},"metadata":{"operationMetadataId":"d39f1fe4-52ee-4869-b9e2-aeac292bf780"},"type":"Foreach"},"Get_events_for_shifts":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV3"},"operationMetadataId":"be42c5a8-6519-491e-b28f-3d9319d2a151"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/items/calendarview","queries":{"calendarId":"@variables('CalendarID')","startDateTimeUtc":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime']","endDateTimeUtc":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['endDateTime']"},"authentication":"@parameters('$authentication')"}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Get_shifts,_check_for_duplicates_and_create_events')?['userId']","@body('Get_my_profile')?['id']"]},{"not":{"equals":["@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime']","@null"]}}]},"metadata":{"operationMetadataId":"955e8475-1d71-4669-96d7-5c8563b5de63"},"type":"If"}},"runAfter":{"List_all_shifts":["Succeeded"]},"metadata":{"operationMetadataId":"da719473-09df-4c54-bb4b-ef9e637ca247"},"type":"Foreach"},"Get_TeamID":{"foreach":"@body('List_teams')?['value']","actions":{"TeamID_condition":{"actions":{"Set_TeamID":{"runAfter":{},"metadata":{"operationMetadataId":"1857f8f8-88f9-481b-8887-045a590a15e5"},"type":"SetVariable","inputs":{"name":"TeamID","value":"@items('Get_TeamID')?['id']"}}},"runAfter":{},"expression":{"equals":["@items('Get_TeamID')?['displayName']","@variables('TeamName')"]},"metadata":{"operationMetadataId":"0c06d746-9f96-4250-8708-f171cbd645dc"},"type":"If"}},"runAfter":{"List_teams":["Succeeded"]},"metadata":{"operationMetadataId":"79aa6022-eeb9-4c8c-900c-d04b6cd76a93"},"type":"Foreach"},"List_teams":{"runAfter":{"Initialize_TeamID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetAllTeams"},"operationMetadataId":"1494f4a7-3817-4d2d-9b89-64744b7137ad"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-westeurope-01.azure-apim.net/apim/teams"}},"method":"get","path":"/beta/me/joinedTeams","authentication":"@parameters('$authentication')"}},"List_all_shifts":{"runAfter":{"Initialize_isDuplicate":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListShifts"},"operationMetadataId":"6cf78a8d-2cd8-43f5-8b11-d94b1da6c5aa"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/shifts","queries":{"startTime":"@{utcNow()}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_my_profile":{"runAfter":{"Get_TeamID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"MyProfile_V2"},"operationMetadataId":"aa894f5d-ff14-4378-a6b9-22b38643e5d5"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/office365users"}},"method":"get","path":"/codeless/v1.0/me","authentication":"@parameters('$authentication')"}},"List_all_Time_Off_instances":{"runAfter":{"List_all_Time_Off_Reasons":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListTimesOff"},"operationMetadataId":"7c30d318-3595-4847-8422-016152497557"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/timesoff","queries":{"startTime":"@{utcNow()}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"List_all_Time_Off_Reasons":{"runAfter":{"Initialize_TimeOffReason":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListTimeOffReasons"},"operationMetadataId":"aaebf532-c308-43ef-b1d3-5764d8cff6e8"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/timeOffReasons","authentication":"@parameters('$authentication')"}},"Get_Time_Off_instances,_check_for_duplicates_and_create_events":{"foreach":"@body('List_all_Time_Off_instances')?['value']","actions":{"Get_Time_Off_instances_assigned_to_user":{"actions":{"Check_for_Time_Off_duplicates":{"foreach":"@body('Get_events_for_Time_Off_instances')?['value']","actions":{"TimeOffDuplicate_conditions":{"actions":{"Set_TimeOffDuplicate":{"runAfter":{},"metadata":{"operationMetadataId":"665d24ad-036a-4a2f-8c71-6c49e95ebb62"},"type":"SetVariable","inputs":{"name":"TimeOffDuplicate","value":true}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Check_for_Time_Off_duplicates')?['subject']","@variables('TimeOffReason')"]},{"equals":["@formatdatetime(items('Check_for_Time_Off_duplicates')?['start'], 's')","@formatdatetime(items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime'], 's')"]}]},"metadata":{"operationMetadataId":"20f93e1d-7492-43be-9603-2b80fefb4084"},"type":"If"}},"runAfter":{"Get_TimeOffReason":["Succeeded"]},"metadata":{"operationMetadataId":"fb73f5e4-2157-4e2d-9dcb-e660dfc7c0d1"},"type":"Foreach"},"Create_event_when_no_Time_Off_duplicate":{"actions":{},"runAfter":{"Check_for_Time_Off_duplicates":["Succeeded"]},"else":{"actions":{"Create_event_(V4)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V4CalendarPostItem"},"operationMetadataId":"d6e020e8-045e-4677-9fb0-420a96a4694f"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"subject":"@variables('TimeOffReason')","start":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime']","end":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['endDateTime']","timeZone":"(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna","isAllDay":false},"path":"/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent(variables('CalendarID')))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('TimeOffDuplicate')",true]},"metadata":{"operationMetadataId":"e2b14187-daa5-48a4-a598-518dd6beaaac"},"type":"If"},"Reset_TimeOffDuplicate":{"runAfter":{"Create_event_when_no_Time_Off_duplicate":["Succeeded"]},"metadata":{"operationMetadataId":"07f29160-abb5-4497-9ac2-85dde6944544"},"type":"SetVariable","inputs":{"name":"TimeOffDuplicate","value":false}},"Get_events_for_Time_Off_instances":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV3"},"operationMetadataId":"8ea01395-373a-4e17-a9c0-0e6b2029e214"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/items/calendarview","queries":{"calendarId":"@variables('CalendarID')","startDateTimeUtc":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime']","endDateTimeUtc":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['endDateTime']"},"authentication":"@parameters('$authentication')"}},"Get_TimeOffReason":{"foreach":"@body('List_all_Time_Off_Reasons')?['value']","actions":{"TimeOffReason_condition":{"actions":{"Set_TimeOffReason":{"runAfter":{},"metadata":{"operationMetadataId":"ae184870-f2c9-4efb-b703-a6df8b14b3c6"},"type":"SetVariable","inputs":{"name":"TimeOffReason","value":"@items('Get_TimeOffReason')?['displayName']"}}},"runAfter":{},"expression":{"equals":["@items('Get_TimeOffReason')?['id']","@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['timeOffReasonId']"]},"metadata":{"operationMetadataId":"55f5d05e-112f-4270-b9cc-6e7bf186138c"},"type":"If"}},"runAfter":{"Get_events_for_Time_Off_instances":["Succeeded"]},"metadata":{"operationMetadataId":"29aefa27-8851-494c-9d12-b09f95dbb4be"},"type":"Foreach"}},"runAfter":{},"expression":{"and":[{"equals":["@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['userId']","@body('Get_my_profile')?['id']"]},{"not":{"equals":["@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime']","@null"]}}]},"metadata":{"operationMetadataId":"97ca7c72-709d-4d44-ae36-b82ea4351f45"},"type":"If"}},"runAfter":{"List_all_Time_Off_instances":["Succeeded"]},"metadata":{"operationMetadataId":"08050062-f0cd-4906-a5d1-34e30e6cdaa2"},"type":"Foreach"},"Initialize_isDuplicate":{"runAfter":{"Get_my_profile":["Succeeded"]},"metadata":{"operationMetadataId":"47923d3a-7331-44d9-b70e-9c3a332bb2e5"},"type":"InitializeVariable","inputs":{"variables":[{"name":"isDuplicate","type":"boolean","value":false}]}},"Initialize_TimeOffDuplicate":{"runAfter":{"Get_my_profile":["Succeeded"]},"metadata":{"operationMetadataId":"09fd3a62-fd9c-47be-aefa-5ed17ab86cc9"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeOffDuplicate","type":"boolean","value":false}]}},"Get_calendars":{"runAfter":{"Initialize_CalendarID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CalendarGetTables_V2"},"operationMetadataId":"5b648920-d5e4-4f8f-b331-01293fe6dceb"},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/codeless/v1.0/me/calendars","queries":{"skip":0,"top":256,"orderBy":"name"},"authentication":"@parameters('$authentication')"}},"Get_CalendarID":{"foreach":"@body('Get_calendars')?['value']","actions":{"CalendarID_condition":{"actions":{"Set_CalendarID":{"runAfter":{},"metadata":{"operationMetadataId":"a9c27cdb-eb67-4851-92ed-cd513bb55a86"},"type":"SetVariable","inputs":{"name":"CalendarID","value":"@items('Get_CalendarID')?['id']"}}},"runAfter":{},"expression":{"equals":["@items('Get_CalendarID')?['name']","@variables('CalendarName')"]},"metadata":{"operationMetadataId":"0edb219d-30e1-48d3-9dee-dae8648e49b7"},"type":"If"}},"runAfter":{"Get_calendars":["Succeeded"]},"metadata":{"operationMetadataId":"f2b16483-c68a-4192-ac31-157f661ed240"},"type":"Foreach"},"Initialize_TimeOffReason":{"runAfter":{"Initialize_TimeOffDuplicate":["Succeeded"]},"metadata":{"operationMetadataId":"db4a519d-526e-4de7-a69f-dfd38e803181"},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeOffReason","type":"string"}]}}}},"connectionReferences":{"shared_office365":{"connectionName":"bb3ab61bab81429895538709419e33b0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-055acdbe-5d0e-456f-a4cf-739ffbfc1344","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_shifts":{"connectionName":"56a19178a8b84cbe9a53740b022beb34","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-a269dab7-12b5-45db-9218-46dfca4d34b7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}