Microsoft.Flow/flows/380df134-3520-469f-a8ed-6acff539c0e6/definition.json
{"name":"86060805-0b4f-4859-aa53-5a65c6548c77","id":"/providers/Microsoft.Flow/flows/86060805-0b4f-4859-aa53-5a65c6548c77","type":"Microsoft.Flow/flows","properties":{"apiId":"/providers/Microsoft.PowerApps/apis/shared_logicflows","displayName":"STOOCA (Shifts To Office365 Outlook Calendar Automatization)","definition":{"metadata":{"workflowEntityId":null,"flowclientsuspensionreason":"None","flowclientsuspensiontime":null,"creator":{"id":"266a95f3-6b5e-4e0d-b014-61a6a73b35aa","type":"User","tenantId":"7e149130-62d9-40de-ab60-5179999a785b"},"provisioningMethod":"FromDefinition","failureAlertSubscription":true,"clientLastModifiedTime":"2020-12-18T13:27:07.0413774Z"},"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"Recurrence":{"recurrence":{"frequency":"Day","interval":1,"timeZone":"W. Europe Standard Time","schedule":{"hours":["18"],"minutes":[0]}},"type":"Recurrence"}},"actions":{"Initialize_CalendarID":{"runAfter":{"[USER_INPUT]_Initialize_Timespan":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"CalendarID","type":"string"}]}},"[USER_INPUT]_Initialize_TeamName":{"runAfter":{"[USER_INPUT]_Initialize_CalendarName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamName","type":"string"}]}},"[USER_INPUT]_Initialize_CalendarName":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"CalendarName","type":"string"}]}},"Initialize_TeamID":{"runAfter":{"Get_CalendarID":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TeamID","type":"string"}]}},"Get_shifts,_check_for_duplicates_and_create_events":{"foreach":"@body('List_all_shifts')?['value']","actions":{"Get_events_for_shifts":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/items/calendarview","queries":{"calendarId":"@variables('CalendarID')","startDateTimeUtc":"@{utcNow()}","endDateTimeUtc":"@{addDays(utcNow(), variables('timespan'))}"},"authentication":"@parameters('$authentication')"}},"Get_shifts_assigned_to_user":{"actions":{"Check_for_duplicates":{"foreach":"@body('Get_events_for_shifts')?['value']","actions":{"isDuplicate_conditions":{"actions":{"Set_isDuplicate":{"runAfter":{},"type":"SetVariable","inputs":{"name":"isDuplicate","value":true}}},"runAfter":{},"expression":{"and":[{"equals":["@formatDateTime(items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime'], 's')","@formatdatetime(items('Check_for_duplicates')?['start'], 's')"]},{"equals":["@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['displayName']","@items('Check_for_duplicates')?['subject']"]}]},"type":"If"}},"runAfter":{},"type":"Foreach"},"Create_event_when_no_duplicate":{"actions":{},"runAfter":{"Check_for_duplicates":["Succeeded"]},"else":{"actions":{"Create_event":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V4CalendarPostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"subject":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['displayName']","start":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['startDateTime']","end":"@items('Get_shifts,_check_for_duplicates_and_create_events')?['sharedShift']?['endDateTime']","timeZone":"(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna"},"path":"/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent(variables('CalendarID')))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('isDuplicate')",true]},"type":"If"},"Reset_isDuplicate":{"runAfter":{"Create_event_when_no_duplicate":["Succeeded"]},"type":"SetVariable","inputs":{"name":"isDuplicate","value":false}}},"runAfter":{"Get_events_for_shifts":["Succeeded"]},"expression":{"equals":["@items('Get_shifts,_check_for_duplicates_and_create_events')?['userId']","@body('Get_my_profile')?['id']"]},"type":"If"}},"runAfter":{"List_all_shifts":["Succeeded"]},"type":"Foreach"},"Get_TeamID":{"foreach":"@body('List_teams')?['value']","actions":{"TeamID_conditions":{"actions":{"Set_TeamID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TeamID","value":"@items('Get_TeamID')?['id']"}}},"runAfter":{},"expression":{"equals":["@items('Get_TeamID')?['displayName']","@variables('TeamName')"]},"type":"If"}},"runAfter":{"List_teams":["Succeeded"]},"type":"Foreach"},"List_teams":{"runAfter":{"Initialize_TeamID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetAllTeams"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_teams']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-westeurope-01.azure-apim.net/apim/teams"}},"method":"get","path":"/beta/me/joinedTeams","authentication":"@parameters('$authentication')"}},"List_all_shifts":{"runAfter":{"Initialize_isDuplicate":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListShifts"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/shifts","queries":{"startTime":"@{utcNow()}","endTime":"@{addDays(utcNow(), variables('timespan'))}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"Get_my_profile":{"runAfter":{"Get_TeamID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"MyProfile_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365users']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-francecentral-01.azure-apim.net/apim/office365users"}},"method":"get","path":"/codeless/v1.0/me","authentication":"@parameters('$authentication')"}},"List_all_Time_Off_instances":{"runAfter":{"List_all_Time_Off_Reasons":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListTimesOff"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/timesoff","queries":{"startTime":"@{utcNow()}","endTime":"@{addDays(utcNow(), variables('timespan'))}"},"authentication":"@parameters('$authentication')"},"runtimeConfiguration":{"paginationPolicy":{"minimumItemCount":5000}}},"List_all_Time_Off_Reasons":{"runAfter":{"Initialize_TimeOffReason":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"ListTimeOffReasons"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_shifts']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/shifts"}},"method":"get","path":"/v1.0/teams/@{encodeURIComponent(variables('TeamID'))}/schedule/timeOffReasons","authentication":"@parameters('$authentication')"}},"Get_Time_Off_instances,_check_for_duplicates_and_create_events":{"foreach":"@body('List_all_Time_Off_instances')?['value']","actions":{"Get_events_for_Time_Off_instances":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetEventsCalendarViewV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/datasets/calendars/v3/tables/items/calendarview","queries":{"calendarId":"@variables('CalendarID')","startDateTimeUtc":"@{utcNow()}","endDateTimeUtc":"@{addDays(utcNow(), variables('timespan'))}"},"authentication":"@parameters('$authentication')"}},"Get_Time_Off_instances_assigned_to_user":{"actions":{"Check_for_Time_Off_duplicates":{"foreach":"@body('Get_events_for_Time_Off_instances')?['value']","actions":{"TimeOffDuplicate_conditions":{"actions":{"Set_TimeOffDuplicate":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TimeOffDuplicate","value":true}}},"runAfter":{},"expression":{"and":[{"equals":["@items('Check_for_Time_Off_duplicates')?['subject']","@variables('TimeOffReason')"]},{"equals":["@formatdatetime(items('Check_for_Time_Off_duplicates')?['start'], 's')","@formatdatetime(items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime'], 's')"]}]},"type":"If"}},"runAfter":{"Get_TimeOffReason":["Succeeded"]},"type":"Foreach"},"Create_event_when_no_Time_Off_duplicate":{"actions":{},"runAfter":{"Check_for_Time_Off_duplicates":["Succeeded"]},"else":{"actions":{"Create_event_(V4)":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"V4CalendarPostItem"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"post","body":{"subject":"@variables('TimeOffReason')","start":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['startDateTime']","end":"@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['endDateTime']","timeZone":"(UTC+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna","isAllDay":false},"path":"/datasets/calendars/v4/tables/@{encodeURIComponent(encodeURIComponent(variables('CalendarID')))}/items","authentication":"@parameters('$authentication')"}}}},"expression":{"equals":["@variables('TimeOffDuplicate')",true]},"type":"If"},"Reset_TimeOffDuplicate":{"runAfter":{"Create_event_when_no_Time_Off_duplicate":["Succeeded"]},"type":"SetVariable","inputs":{"name":"TimeOffDuplicate","value":false}},"Get_TimeOffReason":{"foreach":"@body('List_all_Time_Off_Reasons')?['value']","actions":{"TimeOffReason_condition":{"actions":{"Set_TimeOffReason":{"runAfter":{},"type":"SetVariable","inputs":{"name":"TimeOffReason","value":"@items('Get_TimeOffReason')?['displayName']"}}},"runAfter":{},"expression":{"equals":["@items('Get_TimeOffReason')?['id']","@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['sharedTimeOff']?['timeOffReasonId']"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Get_events_for_Time_Off_instances":["Succeeded"]},"expression":{"equals":["@items('Get_Time_Off_instances,_check_for_duplicates_and_create_events')?['userId']","@body('Get_my_profile')?['id']"]},"type":"If"}},"runAfter":{"List_all_Time_Off_instances":["Succeeded"]},"type":"Foreach"},"Initialize_isDuplicate":{"runAfter":{"Get_my_profile":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"isDuplicate","type":"boolean","value":false}]}},"Initialize_TimeOffDuplicate":{"runAfter":{"Get_my_profile":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeOffDuplicate","type":"boolean","value":false}]}},"Get_calendars":{"runAfter":{"Initialize_CalendarID":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"CalendarGetTables_V2"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['shared_office365']['connectionId']"},"api":{"runtimeUrl":"https://flow-apim-europe-001-northeurope-01.azure-apim.net/apim/office365"}},"method":"get","path":"/codeless/v1.0/me/calendars","queries":{"skip":0,"top":256,"orderBy":"name"},"authentication":"@parameters('$authentication')"}},"Get_CalendarID":{"foreach":"@body('Get_calendars')?['value']","actions":{"CalendarID_conditions":{"actions":{"Set_CalendarID":{"runAfter":{},"type":"SetVariable","inputs":{"name":"CalendarID","value":"@items('Get_CalendarID')?['id']"}}},"runAfter":{},"expression":{"equals":["@items('Get_CalendarID')?['name']","@variables('CalendarName')"]},"type":"If"}},"runAfter":{"Get_calendars":["Succeeded"]},"type":"Foreach"},"Initialize_TimeOffReason":{"runAfter":{"Initialize_TimeOffDuplicate":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"TimeOffReason","type":"string"}]}},"[USER_INPUT]_Initialize_Timespan":{"runAfter":{"[USER_INPUT]_Initialize_TeamName":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"Timespan","type":"integer","value":28}]}}}},"connectionReferences":{"shared_office365":{"connectionName":"bb3ab61bab81429895538709419e33b0","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365","tier":"NotSpecified"},"shared_teams":{"connectionName":"shared-teams-055acdbe-5d0e-456f-a4cf-739ffbfc1344","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_teams","tier":"NotSpecified"},"shared_shifts":{"connectionName":"56a19178a8b84cbe9a53740b022beb34","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_shifts","tier":"NotSpecified"},"shared_office365users":{"connectionName":"shared-office365user-a269dab7-12b5-45db-9218-46dfca4d34b7","source":"Embedded","id":"/providers/Microsoft.PowerApps/apis/shared_office365users","tier":"NotSpecified"}},"flowFailureAlertSubscribed":false}}